body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 40px; /* Increased gap for a more spacious layout */
  padding: 20px; /* Consistent padding for spacing */
}

.list-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px; /* Increased padding for a more spacious internal layout */
  flex-basis: 45%;
  max-width: 350px;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.list-item {
  display: flex;
  align-items: center;
  padding: 10px 15px; /* Increased padding for better spacing in list items */
  border-radius: 4px;
  margin-bottom: 10px; /* Increased margin for more space between items */
  transition: background-color 0.2s;
  border: 1px solid #f0f0f0; /* Slight border for definition */
  cursor: pointer; /* Indicates the item is clickable */
}

.list-item:hover {
  background-color: #e9ecef; /* Highlight item on hover */
}

/* Hide the default checkbox */
.list-item input[type="checkbox"] {
  display: none;
}

/* Custom select all checkbox */
.select-all-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Space before the list starts */
}

.select-all-checkbox {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #cbd5e0;
  display: inline-block;
  position: relative;
  margin-right: 10px; /* Space between checkbox and label */
  cursor: pointer;
}

.select-all-container input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

.select-all-checkbox::after {
  content: "";
  position: absolute;
  display: none; /* Hidden by default, shown when checked */
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.select-all-container input[type="checkbox"]:checked + .select-all-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
}

.select-all-container
  input[type="checkbox"]:checked
  + .select-all-checkbox::after {
  display: block;
}

/* Custom checkbox design */
.checkmark {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #cbd5e0;
  display: inline-block;
  position: relative;
  margin-right: 10px; /* Space between checkmark and title */
  cursor: pointer;
}

/* When the list item is clicked, change the background of the checkmark */
.list-item.selected .checkmark {
  background-color: #2196f3;
  border-color: #2196f3;
}

/* Checkmark symbol when the item is selected */
.list-item.selected .checkmark::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.list-title {
  font-weight: bold;
  font-size: 1.2rem; /* Slightly larger font for titles */
  margin-bottom: 20px; /* Increased margin for spacing below the title */
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-grow: 1;
  margin-bottom: 8px;
}

.button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }

  .list-container {
    width: 100%;
    margin-bottom: 15px;
  }

  .button-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .button {
    padding: 8px 16px;
  }
}
